body {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    font-family: Courier New;
}

.imagesDivTag {
    display: flex;
    align-content: space-between;
}
.imageDivTag {
    width: 220px;
    height: auto;
    overflow: hidden;
}
.imageImgTag {
    width: 200px;
    height: auto;
}
.formImgTag {
    width: 300px;
    height: auto;
}
.formDivTag {
    width: 350px;
    height: auto;
    overflow: hidden;
}
.header {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: -1px;
    top: -50px;
    width: 120px;
    height: auto;
}
.container {
    width: 95%;
    height: 500px;
    margin: auto;
    margin-top: 100px;
}
.links {
    width: 15%;
    height: 500px;
    background: white;
    float: left;
}
.likes {
    margin-left: 15%;
    height: 500px;
    background: white;
}
.comments {
    margin-left: 15%;
    height: 500px;
    background: white;
}
.formUploader {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    width: 500px;
    height: 200px;
    border: 4px dashed #000;
}
.formUploader p {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 170px;
    color: #000000;
}
.formUploader input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
}
.formUploader button {
    margin: 0;
    color: #000;
    background: #fd6b31;
    border: none;
    width: 508px;
    height: 35px;
    margin-top: -20px;
    margin-left: -4px;
    border-radius: 4px;
    border-bottom: 4px solid #fd6b31;
    transition: all 0.2s ease;
    outline: none;
}
.formUploader button:hover {
    background: blue;
    color: black;
}
.formUploader button:active {
    border: 0;
}
